



.homeView .navbar-brand mb-0 h1{
  font-weight: bold;
}

.homeView .welcome{
text-align: center;
margin-top: 3em;
letter-spacing: 0.50em;


}
.homeView .logo{
  position: relative;
  bottom: 1em;
}



/* wrapper isnt in center or i have to push it right forcefully position relative left, on inspect the wrapper is out os sync*/
.homeView .wrapper{
  position: relative;
  left: 25%;
  margin-top: 5em;
}


.homeView .wrapper a{
  display: inline;
  margin: 1em;



}

/* why is the wrapper not in center? im using right 80px */
.homeView a{
  display: block;
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid #333;
  letter-spacing: 2px;
  position: relative;
  right: 80px;
  transition: all .35s;
}



.homeView a span{
  position: relative;
  z-index: 2;
  margin: 2em
}

.homeView a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;

  transition: all .35s;
}

.homeView a:hover{
  color: #fff;
}

.homeView a:hover:after{
  width: 100%;
}

.homeView .divider {
  text-align: center;
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  margin: 2em;
}
.homeView .divider:before, .divider:after {
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.homeView .divider:before {
  background: linear-gradient(to right, transparent, #818078);
  right: .5em;
  margin-left: -50%;
}
.homeView .divider:after {
  background: linear-gradient(to right, #818078, transparent);
  left: .5em;
  margin-right: -50%;
}

.homeView .images{
  text-align: center;
}



.homeView .wrap{
  margin-left: 157px;

}

.homeView .card{
  box-shadow: 0 4px 8px;
  width: 300px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 30px;
}

.homeView .card p{
font-size: 25px;
font-weight: bold;
}

.homeView .welcome img{
  width: 250px;
}
